body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer a {
    color: #ffffff;
}

@media (max-width: 1280px) {
    main {
        display: flex;
    }

    .sources {
        height: auto;
        flex-wrap: wrap;
        max-width: 50%;
    }
}

@media (max-width: 640px) {

    main {
        flex-direction: column;
        margin-bottom: 30px;
    }

    header h1 {
        font-size: 32px;
    }

    .sources {
        flex-wrap: wrap;
        height: 235px;
        overflow-x: hidden;
        max-width: 100%;
    }

    .sources::before {
        content: "Select news category:";
        margin: 0.5em;
    }

    .source__item {
        width: 100%;
    }

    .sources::-webkit-scrollbar {
        width: 20px;
        background-color: #F5F5F5;
    }

    .sources::-webkit-scrollbar-thumb {
        background-color: #30c5ff;
        border-radius: 5px;
    }

    footer {
        flex-direction: column;
    }

}